.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;

  .title {
    font-size: 28px;
    text-transform: uppercase;
    color: #4a4a4a;
  }

  .preview {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
