.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 23px;
    color: #333;
    margin: 10px 0;
  }
  .sub-title {
    color: #808080;
  }
  .or-text {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    text-transform: uppercase;
  }
  .icon-google {
    position: absolute;
    top: 11px;
    left: 23%;
  }
}
