.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    width: 70px;
    height: 100%;
    padding: 20px;
  }

  .options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 100%;

    .option {
      padding: 10px 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
