* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 20px 60px;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}
button {
  font-family: "Poppins", sans-serif;
}
